@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="d-flex justify-content-center">
    <div class="col-12 col-md-6">
        <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
        <p class="my-2">
            You have requested to log in with a recovery code. This login will not be remembered until you provide
            an authenticator app code at log in or disable 2FA and log in again.
        </p>
        <form method="post">
            <partial name="_ValidationSummary" model="ViewData.ModelState"/>
            <div class="form-floating">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Recovery Code" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="invalid-feedback"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}