@{
    ViewData["Title"] = "Edit User";
}

<h1>Admin Panel</h1>

<div>
    <h2>Edit User </h2>
    <hr />
    <div class="row">
        <div class="col-md-3 mb-2 mb-md-0">
            <partial name="_AdminNavListPartial" />
        </div>
        <div class="col-md-9">
           edit user
        </div>
    </div>
</div>