@model List<ForumPost>
@{
    ViewData["Title"] = "Soft Deleted Posts";
    Layout = "_AdminLayout";
}

@if (Model is {Count: < 1})
{
    <div class="alert alert-info">There are no soft deleted posts.</div>
}
else
{
    foreach (var post in Model)
    {
        <partial name="_ForumPostCard" model="post"/>
    }
}