@model List<ForumThread>
@{
    ViewData["Title"] = "Soft Deleted Threads";
    Layout = "_AdminLayout";
}

@if (Model is {Count: < 1})
{
    <div class="alert alert-info">There are no soft deleted threads.</div>
}
else
{
    foreach(var thread in Model)
    {
        <partial  name="_ThreadListItem" model="thread"/>
    }
}


