@page
@{
    Layout = "_Layout";
    ViewData["title"] = "Bad request";
}

<div class="alert alert-danger">
    <h4 class="alert-heading">@ViewData["Title"]</h4>
    <p class="pb-0 mb-0">
        Unable to process request without modification.
    </p>
</div>