@page
@{
    Layout = "_Layout";
    ViewData["title"] = "Page not found";
}

<div class="alert alert-danger">
    <h4 class="alert-heading">@ViewData["Title"]</h4>
    <p class="pb-0 mb-0">The resource you requested was not found.</p>
</div>