@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model HomeViewModel

@{
    ViewData["Title"] = "Home";
    var latestMembers = UserManager.Users.OrderByDescending(u => u.CreatedAt).Take(5);
}

@* Hero Section based on https://getbootstrap.com/docs/5.1/examples/heroes/ *@
<div class="my-3 py-3 my-md-5 py-md-5">
    <h1 class="display-5 fw-bold">Forum2</h1>
    <div class="col-lg-6">
        <p class="lead mb-4">
            Join Forum2 today and become part of our community! Share your thoughts and experiences with others, solve
            challenges, and make new connections. Don't miss out on the opportunity to make your voice heard. Sign up 
            now and start exploring
        </p>
    </div>
    <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>

@* Threads Slider *@
@if (Model.ForumThreads is {Count: > 0 })
{
    <h2 class="h2 fw-normal">Latest Threads</h2>
    <div class="d-flex align-items-center">
        <div>
            <button class="rounded-circle btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;" id="lt_prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </button>
        </div>
        <div class="flex-grow-1" style="min-width: 0;">
            <div id="latest_threads">
                @foreach (var thread in Model.ForumThreads)
                {
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <partial name="Lookup/_ThreadLookup" model="thread"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div>
            <button class="rounded-circle btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;" id="lt_next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </button>
        </div>
    </div>
}

@* Posts Slider *@
@if (Model.ForumPosts is {Count: > 0 })
{
    <h2 class="h2 fw-normal">Latest Posts</h2>
    <div class="d-flex align-items-center">
        <div>
            <button class="rounded-circle btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;" id="lp_prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </button>
        </div>
        <div class="flex-grow-1" style="min-width: 0;">
            <div id="latest_posts">
                @foreach (var post in Model.ForumPosts)
                {
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <partial name="Lookup/_PostLookup" model="post"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div>
            <button class="rounded-circle btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;" id="lp_next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </button>
        </div>
    </div>
}

@* Users Slider *@
@if (UserManager.Users.Any())
{
    <h2 class="h2 fw-normal">Latest Members</h2>
    <div class="d-flex align-items-center">
        <div>
            <button class="rounded-circle btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;" id="lm_prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </button>
        </div>
        <div class="flex-grow-1" style="min-width: 0;">
            <div id="new_members">
                @foreach (var member in latestMembers)
                {
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <partial name="Lookup/_UserLookup" model="member"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div>
            <button class="rounded-circle btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;" id="lm_next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </button>
        </div>
    </div>
}
else
{
    <p>You have deleted everything :(</p>
    <p>You will have to manually reassign administrator and moderator rights in the database</p>
    <a asp-area="Identity" asp-page="/Account/Register">Register new account</a>
}

<script src="~/lib/tiny-slider/tiny-slider.js"></script>
<script type="text/javascript">
    function slider(container, prev, next) {
        return tns({
            container: container,
            prevButton: prev,
            nextButton: next,
            slideBy: 'page',
            autoplay: false,
            controls: true,
            controlsPosition: 'bottom',
            nav: true,
            navPosition: 'bottom',
            mouseDrag: true,
            loop: false,
            items: 1,
            edgePadding: 10,
            gutter: 10,
            responsive: {
                768: {
                    edgePadding: 20,
                    items: 2
                },
                992: {
                    items: 3
                }
            }
        });
    }
    
    // Latest Threads slider
    const slider_threads = slider('#latest_threads', '#lt_prev', '#lt_next');
    
    // Latest Posts slider
    const slider_posts = slider('#latest_posts', '#lp_prev', '#lp_next');
    
    // Latest Member slider
    const slider_members = slider('#new_members', '#lm_prev', '#lm_next');
</script>