@model ForumPostCreationViewModel
@{
    ViewData["Title"] = "New Post";
}

<form asp-controller="ForumPost" asp-action="CreateNewForumPost" asp-route-forumThreadId="@Model.ForumThread.Id.ToString()">
    <input type="hidden" asp-for="ForumPost.ThreadId">
    <div class="form-group">
        <label asp-for="ForumPost.Content">Post content</label>
        <textarea rows="8" asp-for="ForumPost.Content" id="inputNewPostContent" class="form-control"></textarea>
        <span asp-validation-for="ForumPost.Content" class="invalid-feedback"></span>
    </div>
    
    <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-sm btn-success">Create Post</button>
        <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.ForumThread.Id.ToString()"  id="cancelButton" class="btn btn-sm btn-dark">Cancel</a>
    </div>
</form>

<script>
        const easyMDE = new EasyMDE({element: document.getElementById('inputNewPostContent')});
</script>
