@model ForumPostCreationViewModel


<h2>Create new post</h2>
<form asp-controller="ForumPost" asp-action="CreateNewForumPost">
    <legend>Forum Post</legend> 
        <input type="hidden" asp-for="ForumThread.ForumThreadId">
    <div class="form-group">
        <label asp-for="ForumPost.ForumPostContent"></label>
        <input asp-for="ForumPost.ForumPostContent" class="form-control">
        <span asp-validation-for="ForumPost.ForumPostContent" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-secondary">Create</button>
</form>