@model ForumPostViewModel

<h1>Post @Model.</h1>
@foreach(var post in Model.ForumPosts)
    {
        @* @post.ForumPostContent *@
        <p></p>
        <partial name="_ForumPostCard" model="post"/>
    }
