@model ForumPost
@{
    ViewData["Title"] = "Update Post";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<h2>Update forum post</h2>

<form asp-controller="ForumPost" asp-action="UpdateForumPostContent">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="ThreadId">
    <input type="hidden" asp-for="CreatorId">
    <input type="hidden" asp-for="CreatedAt">
    <div class="form-group">
        <label asp-for="Content">Post content</label>
        <textarea asp-for="Content" class="form-control" id="editForumPost"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-secondary">Save Changes</button>
    <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.ThreadId" class="btn btn-secondary">Cancel</a>
</form>

<script>
const easyMDE = new EasyMDE({element: document.getElementById('editForumPost')});
</script>