@model ForumPost
@{
    ViewData["Title"] = "Edit Post";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<h1 class="h2 fw-normal">Edit Post</h1>

<form asp-controller="ForumPost" asp-action="UpdateForumPostContent">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="ThreadId">
    <input type="hidden" asp-for="CreatorId">
    <input type="hidden" asp-for="CreatedAt">
    <div class="form-group">
        <span asp-validation-for="Content" class="text-danger" style="font-size: .875em;"></span>
        <textarea asp-for="Content" class="form-control" id="editForumPost"></textarea>
    </div>
    <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-sm btn-success">Save Changes</button>
        <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.ThreadId.ToString()" class="btn btn-sm btn-dark">Cancel</a>
    </div>
</form>

<script>
const easyMDE = new EasyMDE({element: document.getElementById('editForumPost')});
</script>