@model ForumThreadCreationViewModel
@{
    ViewData["Title"] = "New Thread";
}

<h1 class="h2 fw-normal">New thread in @Model.ForumCategory.Name</h1>
<form asp-controller="ForumThread" asp-action="CreateNewForumThread">
    <input type="hidden" asp-for="ForumCategory.Id">
    <input type="hidden" asp-for="ForumCategory.Name">
    <div class="form-group mb-2">
        <label asp-for="ForumThread.Title" class="fw-bold"></label>
        <input asp-for="ForumThread.Title" class="form-control">
        <span asp-validation-for="ForumThread.Title" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <span asp-validation-for="ForumPost.Content" class="text-danger" style="font-size: .875em;"></span>
        <textarea rows="8" asp-for="ForumPost.Content" id="inputNewPostContent" class="form-control"></textarea>
    </div>
    <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-sm btn-success">Create Thread</button>
        <a asp-controller="ForumThread" asp-action="ForumThreadOfCategoryTable" asp-route-forumCategoryId="@Model.ForumCategory.Id.ToString()" class="btn btn-sm btn-dark">Cancel</a>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_EditorScriptsPartial" />
    <script>
        const easyMDE = new EasyMDE({element: document.getElementById('inputNewPostContent')});
    </script>
}
