@model ForumThreadCreationViewModel
@{
    ViewData["Title"] = "New Thread";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<h2>Create new thread</h2>
<h3>This is category: @Model.ForumCategory.Id @Model.ForumCategory.Name</h3>
<form asp-controller="ForumThread" asp-action="CreateNewForumThread">
    <fieldset> 
        <legend>Forum Thread</legend> 
        <div>
            <input type="hidden" asp-for="ForumCategory.Id">
        </div>
        <div class="form-group">
            <label asp-for="ForumThread.Title">Thread title</label><span class="text-danger">*</span>
            <input asp-for="ForumThread.Title" class="form-control">
            <span asp-validation-for="ForumThread.Title" class="text-danger"></span>
        </div>
    </fieldset> 
    <fieldset>
        <legend>Forum Post</legend> 
        <div class="form-group">
            <label asp-for="ForumPost.Content">Post content</label>
            <textarea rows="8" asp-for="ForumPost.Content" id="inputNewPostContent" class="form-control"></textarea>
            <span asp-validation-for="ForumPost.Content" class="text-danger"></span>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-secondary">Create</button>
    <a asp-controller="ForumThread" asp-action="ForumThreadOfCategoryTable" asp-route-forumCategoryId="@Model.ForumCategory.Id" class="btn btn-secondary">Cancel</a>
</form>

<script>
const easyMDE = new EasyMDE({element: document.getElementById('inputNewPostContent')});
</script>