@model ForumThreadCreationViewModel


<h2>Create new thread</h2>
<h3>This is category: @Model.ForumCategory.ForumCategoryId @Model.ForumCategory.ForumCategoryName</h3>
<form asp-controller="ForumThread" asp-action="CreateNewForumThread">
    <fieldset> 
        <legend>Forum Thread</legend> 
        <div>
            <input type="hidden" asp-for="ForumCategory.ForumCategoryId">
        </div>
        <div class="form-group">
            <label asp-for="ForumThread.ForumThreadTitle">Thread title</label><span class="text-danger">*</span>
            <input asp-for="ForumThread.ForumThreadTitle" class="form-control">
            <span asp-validation-for="ForumThread.ForumThreadTitle" class="text-danger"></span>
        </div>
    </fieldset> 
    <fieldset>
        <legend>Forum Post</legend> 
        <div class="form-group">
            <label asp-for="ForumPost.ForumPostContent">Post content</label>
            <input asp-for="ForumPost.ForumPostContent" class="form-control">
            <span asp-validation-for="ForumPost.ForumPostContent" class="text-danger"></span>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-secondary">Create</button>
</form>

