@model ForumListViewModel
<h1>List of forum threads</h1>
<div class="container">
<h1>List of Accounts (@ViewBag.CurrentViewName View)</h1>
<partial name="_ForumThreadList" model="Model.ForumThreads" />
</div>
