@model SearchResultViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<div>
    <form class="d-flex" asp-controller="Search" asp-action="Index" method="get">
        <input type="text" class="form-control me-2" id="query" name="query" placeholder="Search" value="@Model.Query" required="required">
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
</div>

@if (Model.Query != null)
{
    <hr class="my-4" />
    <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
            <h2>Threads</h2>
            @if (Model.Threads == null || !Model.Threads.Any())
            {
                <p>No threads matching the search query.</p>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var thread in Model.Threads)
                    {
                        <li class="list-group-item">
                            <partial name="Lookup/_ThreadLookup" model="thread"/>
                        </li>
                    }
                </ul>
            }
            <a class="btn btn-sm btn-outline-primary d-block mt-2" asp-controller="Search" asp-action="Threads" asp-route-query="@Model.Query">Search in Threads</a>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <h2>Posts</h2>
            @if (Model.Posts == null || !Model.Posts.Any())
            {
                <p>No posts matching the search query.</p>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var post in Model.Posts)
                    {
                        <li class="list-group-item">
                            <partial name="Lookup/_PostLookup" model="post"/>
                        </li>
                    }
                </ul>
            }
            <a class="btn btn-sm btn-outline-primary d-block mt-2" asp-controller="Search" asp-action="Posts" asp-route-query="@Model.Query">Search in Posts</a>
        </div>
        <div class="col-md-4">
            <h2>Users</h2>
            @if (Model.Users == null || !Model.Users.Any())
            {
                <p>No user matching the search query.</p>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var user in Model.Users)
                    {
                        <li class="list-group-item">
                            <partial name="Lookup/_UserLookup" model="user"/>
                        </li>
                    }
                </ul>
            }
            <a class="btn btn-sm btn-outline-primary d-block mt-2" asp-controller="Search" asp-action="Users" asp-route-query="@Model.Query">Search in Users</a>
        </div>
    </div>
}