@{
    ViewData["Title"] = @Model.User.DisplayName;
}

@model ProfileIndexViewModel

<div>
    <div class="row">
        <div class="col-md-3 mb-2 mb-md-0">
            <partial name="_Profile" model="Model.User"/>
        </div>
        <div class="col-md-9">
            <partial name="_ProfileNav" model="Model.User"/>
            <h2 class="h3 mb-2 fw-normal">Wall</h2>
            <form>
                <div class="mb-2">
                    <label for="wallPostContent" class="form-label">Post on @Model.User.DisplayName's wall</label>
                    <textarea class="form-control" id="wallPostContent" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>