@model ApplicationUser

<div class="col">
    <div>
        <a asp-controller="Profile"
           asp-action="Index"
           asp-route-displayName="@Model.DisplayName">
            <img src="~/avatars/@Model.AvatarUrl" width="100px" height="100px">
        </a>
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="text-start">
                    <a asp-controller="Profile"
                       asp-action="Index"
                       asp-route-displayName="@Model.DisplayName">@Model.DisplayName</a>
                </h5>
            </div>
        </div>
    </div>
</div>