@model ApplicationUser

<div class="col">
    <div>
        <a asp-controller="Account"
           asp-action="Details"
           asp-route-accountId="@Model.Id">
            <img src="~/avatars/@Model.AvatarUrl" class="card-img-top" alt="@Model.DisplayName">
        </a>
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="text-start">
                    <a asp-controller="Account"
                       asp-action="Details"
                       asp-route-accountId="@Model.Id">@Model.DisplayName</a>
                </h5>
            </div>
        </div>
    </div>
</div>