@using Forum2.DAL
@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@inject UserManager<ApplicationUser> UserManager

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Avatar</th>
        </tr>
        
        @foreach (var account in Model)
        {
            <tr>
                <td>                            
                    <a asp-controller="Profile"
                       asp-action="Index"
                       asp-route-displayName="@account.DisplayName">@account.DisplayName</a>
                </td>
                <td>
                    @string.Join(", ", UserManager.GetRolesAsync(account).Result)
                    
                </td>
                <td>
                    <a asp-controller="Profile"
                       asp-action="Index"
                       asp-route-displayName="@account.DisplayName">
                        <img src="~/avatars/@account.AvatarUrl" width="100px" height="100px">
                    </a>
                </td>
            </tr>
        }
    </table>
</div>