<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Japanese_battleship_Yamato_running_trials_off_Bungo_Strait%2C_20_October_1941.jpg/800px-Japanese_battleship_Yamato_running_trials_off_Bungo_Strait%2C_20_October_1941.jpg" class="d-block w-100" alt="Ship">
        </div>
        <div class="carousel-item active">
            <img src="https://study.com/cimages/multimages/16/yamato_during_trial_service788839660836077486.jpeg" class="d-block w-100" alt="Sheep">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/66/a5/96/66a596cfb461933c82b510890f0f3f56.jpg" class="d-block w-100" alt="Hotel">
        </div>
    </div>
</div>