@model Forum2.ViewModels.ForumCategoryViewModel

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Category Description</th>
        </tr>
        @foreach (var forumThread in Model.ForumCategories)
        {
            <tr>
                <td>@forumThread.ForumCategoryId</td>
                <td>
                    <a asp-controller="ForumThread"
                       asp-action="ForumThreadOfCategoryTable"
                       asp-route-Id="@forumThread.ForumCategoryId">@forumThread.ForumCategoryName</a>
                </td>
                <td>@forumThread.ForumCategoryDescription</td>
            </tr>
        }
    </table>
</div>