@model ApplicationUser

<h3 class="my-5">
    @Model.DisplayName
</h3>

<div class="row gx-5">
    <img alt="@Model.DisplayName" src="@Model.AvatarUrl" class="img-fluid col-5" />
    <div class="col-7">
        <p><a href="/Account/Table">Back to Table View</a></p>
        <p><a href="/Account/Grid">Back to Grid View</a></p>
    </div>
</div>