@model AccountListViewModel

<div class="container">
<h1>List of Accounts (@ViewBag.CurrentViewName View)</h1>
    <a href="/Account/Grid/">Grid view</a>
    <partial name="_accountTable" model="Model.Accounts"/>
    <a class="btn btn-primary" asp-controller="Account" asp-action="AccountConsole">Console output</a>
</div>