@using Microsoft.AspNetCore.Identity
@inject RoleManager<ApplicationRole> RoleManager
@{
    ViewData["Title"] = "Roles";
}

<h1 class="h2 fw-normal">@ViewData["Title"]</h1>

<ul class="list-group list-group-flush">
    @foreach (var role in RoleManager.Roles)
    {
        <li class="list-group-item px-0">
            <div class="d-flex align-items-center gap-2">
                <div class="rounded" style="width: 16px; height: 16px; background: @role.Color;"></div>
                <div>
                    <a asp-controller="Role" asp-action="Members" asp-route-roleName="@role.Name">
                        @role.Name
                    </a>
                </div>
            </div>
        </li>
    }
</ul>