@page
@using Forum2.Models
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var user = UserManager.GetUserAsync(User).Result;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6 mb-2">
        <h3 class="h3 fw-normal">@ViewData["Title"]</h3>
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <partial name="_ValidationSummary" model="ViewData.ModelState"/>
            <div class="form-floating">
                <input asp-for="Input.DisplayName" class="form-control"/>
                <label asp-for="Input.DisplayName" class="form-label"></label>
                <span asp-validation-for="Input.DisplayName" class="invalid-feedback"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Input.AvatarUrl" class="form-label">Avatar <i>(Optional)</i></label>
                <input asp-for="Input.AvatarUrl" class="form-control form-control-lg" type="file">
                <span asp-validation-for="Input.AvatarUrl" class="invalid-feedback"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Save</button>
        </form>
    </div>
    <div class="col-md-4">
        <h4 class="h3 fw-normal">Current Avatar</h4>
        <img src="~/avatars/@user.AvatarUrl" alt="Current avatar" class="img-thumbnail"/>
    </div> 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
